.photo_uploader_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.image {
  max-width: 20%;
}

.field_image{
  size:60;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.container_field_image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: rgb(51, 167, 206) dashed 0.2rem;
  width: 37.5rem;
  height: 18.75rem;
}