.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  font-family: 'Poppins';
  color: var(--blue);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 4% 5%;
  margin-left: 15%;
  border-radius: 15px;
  transition: all .3s ease-in-out;
  border: 2px solid var(--blue);
  background-color: var(--white);
  }
  .logout:hover {
    border: none;
    transition: all .1s ease-in-out;
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
  }
  