.ctn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
}
@media screen and (max-width: 768px) {
    .ctn {
        align-items: center;
        justify-content: center;
    }
}